
#topo{
    float: left;
    width: 400 px;
    height: 150 px;
}
div.container {
    width: 100%;
    border: 1px solid gray;
}

header{
    padding: 1em;
    color: white;
    background-color: deepskyblue;
    clear: left;
    height: 150px;
    text-align: center;
    font-family: courier;
}

footer{
    padding: 1em;
    color: white;
    background-color: deepskyblue;
    clear: left;
    text-align: center;
    font-family: courier;
}
header #text02_h1{
    font-family: fantasy;
    float: right ;
    font-size: 15px;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    width: 130px;
    text-align: left;
    background-color: deepskyblue;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;

    overflow: hidden;
}
